@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes border-dance {
  0%, 100% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
}

.animate-border-dance {
  background: linear-gradient(90deg, #ff4d4d 50%, transparent 50%),
              linear-gradient(90deg, #ff4d4d 50%, transparent 50%),
              linear-gradient(0deg, #ff4d4d 50%, transparent 50%),
              linear-gradient(0deg, #ff4d4d 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0%;
  animation: border-dance 1s infinite linear;
}
